[submodule "Client"]
	path = Client
	url = https://github.com/LudoLoca/LudoLocaClient.git
	branch = develop

[submodule "API"]
	path = API
	url = https://github.com/LudoLoca/LudoLocaApi.git
	branch = develop
